.mCommon_controlThumbnail{ overflow-x:auto; overflow-y:hidden}
.mCommon_controlThumbnail_box{ display: table; table-layout: fixed;overflow:hidden;padding:0 10px}
.mCommon_controlThumbnail_box > *:first-child > .mCommon_controlThumbnail_item_box{margin-left: 0px;}

.mCommon_controlThumbnail_item{display: table-cell;}
.mCommon_controlThumbnail_item_box{ width:79px; height:74px; position: relative; margin-left: 10px;}



.mCommon_controlThumbnail_item_img{ width:64px; height:64px; position:absolute; left:0; bottom:0;cursor: pointer; z-index:0}
.mCommon_controlThumbnail_item_icon{ top:1px; right:0;position:absolute;  padding: 0 5px 5px 5px; cursor: pointer; z-index:10}


.mCommon_controlThumbnail_item_icon img{ width:20px; height:20px;}
