@charset "utf-8";
/* CSS Document */
.dajia {}
	
.mCommon_basicSelect{padding:7px 5px; padding-right:30px;background-color: #fff;border: 1px solid #e1e2e6; overflow: hidden; position:relative;}	
.mCommon_basicSelect img{cursor: pointer;height: 24px;width: 24px; margin-right: -25px; float:right}	
.mCommon_basicSelect input{ border: 0 none;color: #333333;font-size: 14px;height: 24px;/*line-height: 24px;*/width: 100%; }
.maroon::selection {
    background:maroon; 
    color:#fff;
}

.maroon::-moz-selection {
    background:maroon; 
    color:#fff;
}

.maroon::-webkit-selection {
    background:maroon; 
    color:#fff;
}








	