.mCommon_basicInfoList3{width:100%;}
.mCommon_basicInfoList3_list{}
.mCommon_basicInfoList3_list_label{padding:7px 0px;color: #666;font-size: 16px;width:40px;text-align: right;vertical-align:top;}
.mCommon_basicInfoList3_list_info{padding:7px 0;color: #333;font-size: 16px;width:auto;padding-left:10px;}
