@charset "utf-8";
.dajia {}
/*.mCommon_frameContent0_page { max-width:640px; margin:0 auto}*/
/*by-yuexy2017.10.25*/
.mCommon_frameContent0_page { max-width:100%; margin:0 auto}
.mCommon_frameContent0_content { padding:0;}
