.mcommon_basicInfoList4_box{  }
.mcommon_basicInfoList4_box_item{font-size: 15px;line-height: 20px;padding: 10px 15px;border-bottom: 1px solid #E1E2E6;}
.mcommon_basicInfoList4_box_item_content{padding-left: 22px;width: 100%;}
.mCommon_basicInfoList_item_lable{vertical-align: middle;width: 60px;color: #666;text-align: right;}
.mCommon_basicInfoList_item_icon{vertical-align: middle;width: 29px;color: #666;}
.mCommon_basicInfoList_item_info{vertical-align: middle;text-align: left;line-height: 20px;color: #333;}
