@charset "utf-8";
.dajia {}
/*.mCommon_frameNoticeInfo_page { max-width:640px; margin:0 auto}*/
/*by-yuexy2017.10.26*/
.mCommon_frameNoticeInfo_page { max-width:100%; margin:0 auto}
.mCommon_frameNoticeInfo_box { }
.mCommon_frameNoticeInfo_head { }
.mCommon_frameNoticeInfo_content { padding: 0 15px; padding-bottom:20px}
.mCommon_frameNoticeInfo_foot { }

.mCommon_frameNoticeInfo_head > img { width:100%}
.mCommon_frameNoticeInfo_foot > img { width:100%}

.mCommon_frameNoticeInfo_content_title{ padding-top:30px; display:block; line-height:120%}
.mCommon_frameNoticeInfo_content_timeName{display:block; margin-top:20px}
.mCommon_frameNoticeInfo_content_timeName_time{color:#999;font-size:12px; line-height:22px;}
.mCommon_frameNoticeInfo_content_richText{ margin-top:20px}

.mCommon_frameNoticeInfo_toolBar_buttonNum {color:#1378bf; margin-left:3px}