.mCommon_basicFilterBlend_screenBox{
	background-color: #FFFFFF;
}
.mCommon_basicFilterBlend_screenBox:after{
	border-bottom: 1px solid #E1E2E6;
}
/*每个筛选项*/
.mCommon_basicFilterBlend_screenItem{
	float: left;
	font-size: 15px;
	color: #666666;
	text-align: center;
	padding:0 4px;
	cursor: pointer;
}
.mCommon_basicFilterBlend_screenItemText{
	display: inline-block;
	vertical-align: middle;
	line-height: 44px;
	padding: 0 5px;
}

/*tab签*/
.mCommon_basicFilterBlend_screenItemTabSelect .mCommon_basicFilterBlend_screenItemText{
	color: #FF4D4D;
}
.mCommon_basicFilterBlend_screenItemTab em,
.mCommon_basicFilterBlend_screenItemTabSelect em{
	display: none;
}

/*下拉标签*/
.mCommon_basicFilterBlend_screenItemLableNormal em,
.mCommon_basicFilterBlend_screenItemLableShrink em,
.mCommon_basicFilterBlend_screenItemLableStretch em{
	width: 7px;
	height: 4px;
	display: inline-block;
	vertical-align: 2px;
}
/*未选中时的下拉标签*/
.mCommon_basicFilterBlend_screenItemLableNormal em{
	background: url(../images/mCommon_basicIcon_filterStretchNormal.png) 0 0 no-repeat;
	background-size: 100%;
}
/*激活时的下拉标签*/
.mCommon_basicFilterBlend_screenItemLableShrink .mCommon_basicFilterBlend_screenItemText,
.mCommon_basicFilterBlend_screenItemLableStretch .mCommon_basicFilterBlend_screenItemText{
	color: #FF4D4D;
}
.mCommon_basicFilterBlend_screenItemLableShrink em{
	background: url(../images/mCommon_basicIcon_filterShrink.png) 0 0 no-repeat;
	background-size: 100%;
}
/*出下拉浮层时的下拉标签*/
.mCommon_basicFilterBlend_screenItemLableStretch em{
	background: url(../images/mCommon_basicIcon_filterStretchActive.png) 0 0 no-repeat;
	background-size: 100%;
}

/*排序标签*/
.mCommon_basicFilterBlend_screenItemSortNormal em,
.mCommon_basicFilterBlend_screenItemSortUp em,
.mCommon_basicFilterBlend_screenItemSortDown em{
	width: 6px;
	height: 9px;
	display: inline-block;
}
.mCommon_basicFilterBlend_screenItemSortUp .mCommon_basicFilterBlend_screenItemText,
.mCommon_basicFilterBlend_screenItemSortDown .mCommon_basicFilterBlend_screenItemText{
	color: #FF4D4D;
}
/*正常状态下的排序*/
.mCommon_basicFilterBlend_screenItemSortNormal em{
	background: url(../images/mCommon_basicIcon_sortNormal.png) 0 0 no-repeat;
	background-size: 100%;
}
/*正序*/
.mCommon_basicFilterBlend_screenItemSortUp em{
	background: url(../images/mCommon_basicIcon_orderUp.png) 0 0 no-repeat;
	background-size: 100%;
}
/*倒序*/
.mCommon_basicFilterBlend_screenItemSortDown em{
	background: url(../images/mCommon_basicIcon_orderDown.png) 0 0 no-repeat;
	background-size: 100%;
}
/*图标标签*/
.mCommon_basicFilterBlend_screenItemIconContainer{
	line-height: 44px;
	padding: 0 8px;
}
.mCommon_basicFilterBlend_screenItemIconContainer img{
	width: 22px;
	height: 22px;
	vertical-align: middle;
	display: none;
}
.mCommon_basicFilterBlend_screenItemIconContainerFirst{
	padding-left: 15px;
}
.mCommon_basicFilterBlend_screenItemIconContainerFirst:after{
	border-left: 1px solid #E1E2E6;
}
.mCommon_basicFilterBlend_screenItemIconContainerLast{
	padding-right: 15px;
}
.mCommon_basicFilterBlend_screenItemIconContainer .mCommon_basicFilterBlend_screenItemIconBoxShow{
	display: inline;
}
