@charset "utf-8";
.dajia {}
/* CSS Document */

.mCommon_basicTab{}

.mCommon_basicTabMenu{display:block;-webkit-tap-highlight-color:rgba(0,0,0,0);}
.mCommon_basicTabMenu:after{border-bottom: 1px solid #E1E2E6;}
.mCommon_basicTabMenu_common,.mCommon_basicTabMenu_active{height:45px;overflow: hidden;float: left; width: 50%; text-align: center;cursor: pointer;outline: none;}/*设置高度为了去掉多余的间距*/
.mCommon_basicTabMenu span{display:inline-block;padding:0 4px;}
.mCommon_basicTabMenu em{ color: #666666;font-size: 15px;display: block;line-height: 42px; padding:0;max-width: 150px;}
.mCommon_basicTabMenu_active em{}/*当前状态*/
.mCommon_basicTabMenu_active em{border-bottom: 3px solid #00ace6;color: #00ace6;}

.mCommon_basicTabContent_wrapper{}
.mCommon_basicTabContent{display: none;}

.mCommon_basicTabMenu_fixedBox_height{height:45px;}
.mCommon_basicTabMenu_fixedBox_fixed{ position: fixed; width:100%; left:0; z-index:1;top:0}
/*.mCommon_basicTabMenu_fixedBox_fixedContent{ max-width:640px; margin: 0 auto; background: #fff;}*/
/*by-yuexy2017.10.26*/
.mCommon_basicTabMenu_fixedBox_fixedContent{ max-width:100%; margin: 0 auto; background: #fff;}

/*搜索*/
.mCommon_basicTabMenuSearch{width:50px;}
.mCommon_basicTabMenuSearch:after{border-left:1px solid #e1e2e6;}
.mCommon_basicTabMenuSearch span{margin-top: 12px;}
.mCommon_basicTabMenuSearch .mCommon_basicTabMenuSearchIcon{line-height:22px;width:22px;background:url(../images/mCommon_jsFilterSearchNormal.png) center no-repeat;background-size:100%;text-indent: -9999em;overflow: hidden;}

.mCommon_basicTabMenu_active .mCommon_basicTabMenuSearchIcon{background:url(../images/mCommon_jsFilterSearchNormal.png) center no-repeat;background-size:100%;}




