@charset "utf-8";
/* CSS Document */
.dajia {
}
/**/
.mCommon_basicIcon60Failed{width:54px;height:54px;text-align: center;border:3px solid #bfbfbf;border-radius:54px;}
.mCommon_basicIcon60Failed > i{font-size:40px;line-height:54px;font-weight: bold;color: #bfbfbf;}


