@charset "utf-8";
/* CSS Document */
.dajia {
}
/**/
.mCommon_basicIcon80Failed{width:74px;height:74px;text-align: center;border:3px solid #bfbfbf;border-radius:74px;}
.mCommon_basicIcon80Failed > i{font-size:58px;line-height:74px;font-weight: bold;color: #bfbfbf;}

