@charset "utf-8";
.dajia {}
.mCommon_basicMap{ cursor: pointer; padding:5px 0;}
.mCommon_basicMap_icon{float:left; width:20px; padding-top:4px}
.mCommon_basicMap_icon > img { width:16px; height:16px; vertical-align:bottom; }
.mCommon_basicMap_text{display:block; margin-left:20px; font-size:17px; line-height:22px; color:#1270b2}
