.mHistoryOrder_img{
   	  width: 10px;
   	  position: absolute;
   	  right: 15px;
   	  top:12px;
   	  text-align: right;
   }
   .mHistoryOrder_img img{
      height: 10px;
   }
   .mCommon_basicTabMenu:after{
   	 border-bottom: none;
   }
   
.mCommon_basicInfoList6_box_content{padding-bottom: 19px;padding-top: 19px;}

.mCommon_basicInfoList6_box_item{margin-bottom: 14px;}
.mCommon_basicInfoList6_box_item:last-child{margin-bottom: 0;}
.mCommon_basicInfoList6_box_content_item>div:nth-child(1){font-size: 18px;}
