.mCustomermanagement_customerInfo_tab05Info_blankbox{}
.mCustomermanagement_customerInfo_tab05Info_blankbox_content{border: none;}
.mCustomermanagement_customerInfo_tab05Info_blankbox2{background-color: rgb(246,246,246);/*line-height: 45px;font-size: 15px;*/}
.mCustomermanagement_customerInfo_tab05Info_blankbox2>.mCommon_basicInfoList6_box_content .mCommon_basicInfoList_item_lable{color: rgb(0,85,142);width: 79px;}
.mCustomermanagement_customerInfo_tab05Info_blankbox2>.mCommon_basicInfoList6_box_content{border: none;}
.mCommon_basicInfoList6_box_item{margin-bottom: 14px;}
.mCommon_basicInfoList6_box_item:last-child{margin-bottom: 0;}
